<div class="jumbotron center">
		<h1>Magic Mirror!</h1>
		<p>Let the magic begin...</p>

		<p>
			<%= link_to "Mirror 1", "#" %>
			<%= link_to "Mirror 2", "#" %>
			<%= link_to "Mirror 3", "#" %>
		</p>
		
</div>